*{
    margin: 0;
    padding: 0;
    font-family: 'Lobster', cursive;
}
#bg {
    background-image: linear-gradient(rgba(0,0,0,0.5),#419cac),url("Pictures/f1_car.jpg");
    position: fixed; 
    top: 0; 
    left: 0; 
      
    /* Preserve aspet ratio */
    min-width: 100%;
    min-height: 100%;
  }
.logo{
      width: 140px;
      position: absolute; 
  }
  .drivers-text{
    text-align:center;
    color: red;
    padding-top: 180px;
}
.drivers-text h1{
    font-size: 130px;
}
.drivers-text p{
    color:black;
    font-size: 20px;
    font-style:italic;
}
  .buttons{
      margin:70px auto 0;
  }
  .buttons a{
      width:150px;
      text-decoration: none;
      display: inline-block;
      margin: 0 10px;
      padding: 12px 0;
      color: #fff;
      border: .5px solid #fff;
     }
     .buttons a:hover{
         transition: 1s;
         color:red;
         text-transform:unset;
         text-decoration: underline;
     }