* {
    margin: 0;
    padding: 0;
    font-family: 'Inconsolata', monospace;
}

body {
    color: #dfdce3;
}

header {
    padding: 5px;
    height: 90px;
    background-color: #fc4a1a;
    background-image: url("./Pictures/F1-Logo.png");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: contain;
}

header h1 {
    height: 100%;
    text-align: center;
    font-size: 2em;
    line-height: 2.9em;
}

nav {
    padding: 5px;
    height: 70px;
    background-color: red;
}

nav ul {
    height: 100%;
    border-radius: 10px;
    list-style-type: none;
    text-align: center;
    font-size: 1.5em;
}

nav ul li {
    display: inline-block;
    margin-right: 30px;
    height: 100%;
    width: 120px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    display: inline-block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    line-height: 2.916em;
    /*Visina 70px / 1.5em => 2.916em*/
    border-radius: 10px;
}

nav ul li a:hover {
    background-color: #dfdce3;
    color: #f78733;
}
main{

    border-radius: 5px;
    display: grid;
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(255,0,0,1) 0%, rgba(51,68,82,1) 0%, rgba(55,49,59,1) 85%, rgba(78,112,106,1) 100%);
    grid-template-columns: 3fr 1fr;
    grid-gap: 10px;
    grid-template-areas: 
    "article1 aside1"
    "article2 aside2"
    "article3 aside3"
    "article4 aside4";
}
article:nth-of-type(1){
    grid-area: article1;
}
main article p b{
    font-size:17px;
    font-style: italic;
}
article:nth-of-type(2){
    grid-area: article2;
}

article:nth-of-type(3){
    grid-area: article3;
}
main article:nth-of-type(3) p a:hover{
    font-size:150%;
    color:red;

}
article:nth-of-type(4){
    grid-area: article4;
}

aside:nth-of-type(1){
    grid-area: aside1;    
}
aside:nth-of-type(1) img{
 
 width:100%;
 height:180px;
}
aside:nth-of-type(1) figcaption{
    text-align: center;
    font-size: 20px;
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(255,0,0,1) 0%, rgba(167,110,7,1) 47%, rgba(242,5,9,1) 85%, rgba(78,112,106,1) 100%);
    font:italic;
}

aside:nth-of-type(2){
    grid-area: aside2;    
}
aside:nth-of-type(2) img{
    width:100%;
    height:180px;
   }
aside:nth-of-type(2) figcaption{
    text-align: center;
    font-size: 20px;
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(255,0,0,1) 0%, rgba(167,110,7,1) 47%, rgba(242,5,9,1) 85%, rgba(78,112,106,1) 100%);
    font:italic;
}
aside:nth-of-type(3){
    grid-area: aside3;    
}
aside:nth-of-type(3) img{
    width:100%;
    height:180px;
   }

aside:nth-of-type(3) figcaption{
    text-align: center;
    font-size: 20px;
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(255,0,0,1) 0%, rgba(167,110,7,1) 47%, rgba(242,5,9,1) 85%, rgba(78,112,106,1) 100%);
    font:italic;
}

aside:nth-of-type(4){
    grid-area: aside4;    
}
aside:nth-of-type(4) img{
    width:100%;
    height:180px;
   }
aside:nth-of-type(4) figcaption{
    text-align: center;
    font-size: 20px;
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(255,0,0,1) 0%, rgba(167,110,7,1) 47%, rgba(242,5,9,1) 85%, rgba(78,112,106,1) 100%);
    font:italic;
}
.column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
footer{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "p";
    padding: 5px;
    height: 90px;
    border-radius: 10px;
    background-color: #fc4a1a;
}

footer p{
    text-align: center;
    grid-area: p;   
}
