* {
    margin: 0;
    padding: 0;
}

body {
    color: #dfdce3;
}

header {
    padding: 5px;
    /*ovaj padding povećava kutiju za 10px po visini*/
    height: 90px;
    /*Ukupna visina kutije je 100px*/
    background-color: #fc4a1a;
    background-image: url("./Pictures/F1-Logo.png");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: contain;
}

header h1 {
    height: 100%;
    text-align: center;
    font-size: 2em;
    line-height: 2.9em;
}

nav {
    padding: 5px;
    height: 70px;
    background-color: red;

}

nav ul {
    height: 100%;
    border-radius: 10px;
    list-style-type: none;
    text-align: center;
    font-size: 1.5em;
}

nav ul li {
    display: inline-block;
    margin-right: 30px;
    height: 100%;
    width: 120px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    display: inline-block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    line-height: 2.916em;
    border-radius: 10px;
}

nav ul li a:hover {
    background-color: #dfdce3;
    transform: scale(1.1);
}
main{
    border-radius: 5px;
    border-collapse: collapse;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 10px;
    grid-template-areas: 
    "table1 table1"
    "article1 aside1"
}
main table{
    grid-area: table1;
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(255,0,0,1) 0%, rgba(40,79,112,1) 0%, rgba(9,91,166,1) 49%, rgba(21,191,161,1) 100%);
}

main caption{
    font-size:30px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(255,0,0,1) 49%, rgba(0,137,255,1) 91%);
}
main thead th{
    font-size:20px;
}
article:nth-of-type(1){
    grid-area: article1;
}
main tr:nth-of-type(odd) td:nth-of-type(1){
    font-size: 20px;
    text-align: center;
    font-family:cursive;
}
main tr:nth-of-type(odd) td:nth-of-type(2){
    text-align: center;
    text-decoration: wavy;
    font-size: 18px;
}
main tr:nth-of-type(even) td:nth-of-type(1){
    text-align: center;
    text-decoration: wavy;
    font-size: 18px;
}
main td:lang(en-gb){
    background-image: url("./Pictures/England.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
main td:lang(fin){
    background-image: url("./Pictures/finland.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
}
main td:lang(canada){
    background-image: url("./Pictures/canada.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
}
main td:lang(niz){
    background-image: url("./Pictures/nizozemska.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
}
main td:lang(spanj){
    background-image: url("./Pictures/spanjolska.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
}
main td:lang(franc){
    background-image: url("./Pictures/francuska.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
}
main td:lang(monaco){
    background-image: url("./Pictures/monaco.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
}
main td:lang(mex){
    background-image: url("./Pictures/mexico.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
}
main td:lang(japan){
    background-image: url("./Pictures/japan.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
}
main td:lang(rusija){
    background-image: url("./Pictures/rusija.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
}
main td:lang(njem){
    background-image: url("./Pictures/njemacka.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
}
main td:lang(australia){
    background-image: url("./Pictures/australia.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
}
main td:lang(italija){
    background-image: url("./Pictures/italija.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
}
article{
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(255,0,0,1) 0%, rgba(40,79,112,1) 0%, rgba(88,40,112,1) 22%, rgba(21,181,191,1) 100%);
}
aside figure {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(255,0,0,1) 0%, rgba(40,79,112,1) 0%, rgba(88,40,112,1) 22%, rgba(21,181,191,1) 100%);
}
aside:nth-of-type(1){
    grid-area: aside1;    
}
footer{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "p";
    padding: 5px;
    height: 90px;
    border-radius: 10px;
    background-color: #fc4a1a;
}

footer p{
    text-align: center;
    grid-area: p;   
}
