* {
    margin: 0;
    padding: 0;
}

body {
    color: #dfdce3;
}

header {
    padding: 5px;
    /*ovaj padding povećava kutiju za 10px po visini*/
    height: 90px;
    /*Ukupna visina kutije je 100px*/
    background-color: #fc4a1a;
    background-image: url("./Pictures/F1-Logo.png");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: contain;
}

header h1 {
    height: 100%;
    text-align: center;
    font-size: 2em;
    line-height: 2.9em;
}

nav {
    margin : 1px;
    padding: 5px;
    height: 70px;
    background-color: red;
}

nav ul {
    height: 100%;
    border-radius: 10px;
    list-style-type: none;
    text-align: center;
    font-size: 1.5em;
}

nav ul li {
    display: inline-block;
    margin-right: 30px;
    height: 100%;
    width: 120px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    display: inline-block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    line-height: 2.916em;
    border-radius: 10px;
}

nav ul li a:hover {
    background-color: #dfdce3;
    transform: scale(1.1);
}
main{
    border-radius: 5px;
    border-collapse: collapse;
    display: grid;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    grid-template-columns: 1fr;
    grid-gap: 10px;
    grid-template-areas: 
    "table";
}
main table{
    grid-area: table;
}
main table thead tr{
        background-color: #009879;
        color: #ffffff;
}
main table td{
    padding: 12px 15px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(255,0,0,1) 0%, rgba(0,137,255,1) 0%);
}

main table caption{
    font-size:40px;
    text-align: center;
    background-color: white;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(255,0,0,1) 49%, rgba(0,137,255,1) 91%);
}
main table tbody tr{
    border-bottom: 1px solid #dddddd;
}
main thead th:nth-child(even){
    background-color: #f3f3f3;
    color:black;
    font-size:20px;
}
main thead th:nth-child(odd){
    font-size: 20px;
    color:white;
    background-color: black;
}
main tbody td:nth-child(1){
    text-align: center;
}
main tbody td:nth-child(2){
    text-align: center;
    font-family: 'Coda Caption', sans-serif;
}
main tbody td:nth-child(3){
    font-family: 'Coda Caption', sans-serif;
    font-family: 'Oxygen', sans-serif;
}
footer{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "p";
    padding: 5px;
    height: 90px;
    border-radius: 10px;
    background-color: #fc4a1a;
}

footer p{
    text-align: center;
    grid-area: p;   
}
